<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eat-Da-Burger!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bring in bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- bring in google font --}}
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy|Raleway:400,500" rel="stylesheet">
    {{!-- bring in fontawesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {{!-- public style sheet --}}
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/burger_style.css">
    {{!-- bring in jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>